/* Fond d'ecran planches de chêne brutes */
.bg-oak {
  background-image: url("./img/oak5.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Message d'accueil en font identique au logo Orinoco */
.text-ori {
  font-family: "Permanent Marker", cursive;
  font-size: 55px;
}

/* format de texte du menu footer */
.text-footer {
  color: initial;
  text-decoration: none;
}
